<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
 <!--************************************Servlet ************************************-->
  <servlet>
    <servlet-name>LatestBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.LatestBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.ViewBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.LoginOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.EditBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxBlogComment</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxBlogComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBlogComment</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddBlogComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBlogComment</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteBlogComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhoto</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.UploadPhoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBlogCommentReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddBlogCommentReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteBlogCommentReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteBlogCommentReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateAlbum</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.CreateAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckAlbumName</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxCheckAlbumName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBlogClass</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddBlogClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddDraftBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddDraftBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterBlogState</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AlterBlogState</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckBlogClass</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxCheckBlogClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchBlogByClass</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.SearchBlogByClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxCheckUsername</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxCheckUsername</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegist</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.UserRegist</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPrivateBlog</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddPrivateBlog</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMessageReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddMessageReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMessageReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteMessageReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserRequest</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddUserRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxShowMoreBlogClassItems</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxShowMoreBlogClassItems</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendCheck</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.FriendCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAlbum</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteAlbum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePhoto</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeletePhoto</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMood</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddMood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMoodCommentReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddMoodCommentReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMoodComment</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddMoodComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMood</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteMood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMoodComment</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteMoodComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMoodCommentReply</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteMoodCommentReply</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserResponse</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddUserResponse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddContacts</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddContacts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxQueryContacts</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AjaxQueryContacts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddContactsClass</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AddContactsClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContacts</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.DeleteContacts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterUserImage</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AlterUserImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterUserInfo</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AlterUserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterBlogInfo</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AlterBlogInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcceptUserRequest</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.AcceptUserRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadUserFriends</servlet-name>
    <servlet-class>com.yangkai.myblog.servlet.LoadUserFriends</servlet-class>
  </servlet>















  <!--************************************Filter************************************-->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yangkai.myblog.filter.LoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LoginIdentificationFilter</filter-name>
    <filter-class>com.yangkai.myblog.filter.LoginIdentificationFilter</filter-class>
  </filter>
  <!--************************************Servlet Mapping************************************-->
  <servlet-mapping>
    <servlet-name>LatestBlog</servlet-name>
    <url-pattern>/LatestBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewBlog</servlet-name>
    <url-pattern>/ViewBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/LoginOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBlog</servlet-name>
    <url-pattern>/DeleteBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditBlog</servlet-name>
    <url-pattern>/EditBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxBlogComment</servlet-name>
    <url-pattern>/AjaxBlogComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBlogComment</servlet-name>
    <url-pattern>/AddBlogComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBlogComment</servlet-name>
    <url-pattern>/DeleteBlogComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhoto</servlet-name>
    <url-pattern>/UploadPhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBlogCommentReply</servlet-name>
    <url-pattern>/AddBlogCommentReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBlogCommentReply</servlet-name>
    <url-pattern>/DeleteBlogCommentReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateAlbum</servlet-name>
    <url-pattern>/CreateAlbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckAlbumName</servlet-name>
    <url-pattern>/AjaxCheckAlbumName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBlog</servlet-name>
    <url-pattern>/AddBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBlogClass</servlet-name>
    <url-pattern>/AddBlogClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDraftBlog</servlet-name>
    <url-pattern>/AddDraftBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterBlogState</servlet-name>
    <url-pattern>/AlterBlogState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckBlogClass</servlet-name>
    <url-pattern>/AjaxCheckBlogClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchBlogByClass</servlet-name>
    <url-pattern>/SearchBlogByClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsername</servlet-name>
    <url-pattern>/AjaxCheckUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegist</servlet-name>
    <url-pattern>/UserRegist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPrivateBlog</servlet-name>
    <url-pattern>/AddPrivateBlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/AddMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessageReply</servlet-name>
    <url-pattern>/AddMessageReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessageReply</servlet-name>
    <url-pattern>/DeleteMessageReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserRequest</servlet-name>
    <url-pattern>/AddUserRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxShowMoreBlogClassItems</servlet-name>
    <url-pattern>/AjaxShowMoreBlogClassItems</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendCheck</servlet-name>
    <url-pattern>/FriendCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAlbum</servlet-name>
    <url-pattern>/DeleteAlbum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePhoto</servlet-name>
    <url-pattern>/DeletePhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMood</servlet-name>
    <url-pattern>/AddMood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMoodCommentReply</servlet-name>
    <url-pattern>/AddMoodCommentReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMoodComment</servlet-name>
    <url-pattern>/AddMoodComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMood</servlet-name>
    <url-pattern>/DeleteMood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMoodComment</servlet-name>
    <url-pattern>/DeleteMoodComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMoodCommentReply</servlet-name>
    <url-pattern>/DeleteMoodCommentReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserResponse</servlet-name>
    <url-pattern>/AddUserResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddContacts</servlet-name>
    <url-pattern>/AddContacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxQueryContacts</servlet-name>
    <url-pattern>/AjaxQueryContacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddContactsClass</servlet-name>
    <url-pattern>/AddContactsClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContacts</servlet-name>
    <url-pattern>/DeleteContacts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterUserImage</servlet-name>
    <url-pattern>/AlterUserImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterUserInfo</servlet-name>
    <url-pattern>/AlterUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterBlogInfo</servlet-name>
    <url-pattern>/AlterBlogInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptUserRequest</servlet-name>
    <url-pattern>/AcceptUserRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadUserFriends</servlet-name>
    <url-pattern>/LoadUserFriends</url-pattern>
  </servlet-mapping>
  <!--************************************Filter Mapping************************************-->
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>/AddMessage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginIdentificationFilter</filter-name>
    <url-pattern>/friend_add.jsp</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file></welcome-file>
  </welcome-file-list>
</web-app>